.events {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.events > * {
  padding: 0.5rem 0 0.5rem 0;
  flex: 0;
  border-bottom: 1px solid #aaaaaa;
}

.events > input {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 18px;
  border: 0;
  background-color: #dddddd;
}

input:focus {
  outline: none;
}
