<app-template-one [isLoaded]="is_loaded">
  
  <div class="dancer" *ngIf="dancer !== undefined">
    <h2>
      {{ dancer.first }} {{ dancer.last }} <small>({{ dancer.id }})</small>
    </h2>

    <h3 *ngIf="dancer.pro">Pro</h3>

    <div class="placements">

      <div *ngFor="let placement of dancer.placements">

        <div>
          {{ placement.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) }}
        </div>
        <a [routerLink]="'/events/' + get_event_by_id(placement.event)?.id">
          {{ get_event_by_id(placement.event)?.name }}
        </a>
        <div *ngIf="database && database.roles && database.divisions">{{ database.divisions[placement.division] }} {{ database.roles[placement.role] }}</div>
        <div>Placed {{ format_placement_result(placement.result) }} for {{ placement.points }} points</div>

      </div>

    </div>

  </div>
  
</app-template-one>
  