<app-template-one [isLoaded]="is_loaded">
  <p>
    WSDC Points is a site to help me and the West Coast Swing dance community to better see how competitions and dancers progress around the world.
    If there are any new things here that you would like to see, or problems you would like to have fixed, please reach out!
  </p>
  <a target="_blank" href="mailto:wsdcpoints@mechstack.dev">wsdcpoints&#64;mechstack.dev</a>
  <a target="_blank" href="https://mechstack.dev/">Powered by <b>Mechstack.dev</b></a>
</app-template-one>
