.upcoming-events {
  display: flex;
  flex-direction: column;
  // width: 100%;
  padding: 0 2rem 0 2rem;
  overflow-y: scroll;
}

.upcoming-events > * {
  flex: 0;
  border-bottom: 1px solid #aaaaaa;
}

.upcoming-events a {
  color: white;
  text-decoration: underline;
}