---
permalink: /division-progression
layout: javascripted
background_image: swingout.webp
previous_page: /dancers-over-time
next_page: /about
---

<h3>Days To Progress From Division</h3>
<div class="spinner"></div>
<canvas id="dp"></canvas>

<script src="lib/chartjs/dist/chart.umd.js"></script>
<script src="lib/chartjs-chart-boxplot/build/index.umd.min.js"></script>
<script>
  const main = async () => {
    const data = [
{% for data in site.data.database.division_progression.data %}[{% for datum in data %}{{ datum }},{% endfor %}],{% endfor %}
    ];
    const labels = [
      {% for label in site.data.database.division_progression.labels %}
        "{{ label }}",
      {% endfor %}
    ];

    const options = {
      meanRadius: 0,
      medianColor: '',
      lowerBackgroundColor: '',
      backgroundColor: '',
      borderColor: '',
      borderWidth: 0,
      outlierStyle: 'circle',
      outlierRadius: 2,
      outlierBackgroundColor: '#CCCCCC',
      outlierBorderColor: '',
      outlierBorderWidth: 0,
      itemStyle: 'line',
      itemRadius: 0,
      itemBackgroundColor: '',
      itemBorderColor: '',
      itemBorderWidth: 0,
      hitPadding: 0,
      outlierHitRadius: 0,
      meanStyle: 'line',
      meanBackgroundColor: '',
      meanBorderColor: '',
      meanBorderWidth: 0,
      scales: {
        x: {
          ticks: {
            color: 'white',
          }
        },
        y: {
          ticks: {
            color: 'white',
          }
        }
      },
      plugins: {
        legend: {
          labels: {
            color: "#000000",
          },
        },
      },
    }

    this.chart = new ChartBoxPlot.BoxPlotChart("dp", {      

      data: {
        labels: labels,
        datasets: [
          {
            minStats: 'min',
            maxStats: 'whiskerMax',
            label: "All",
            data: data,
          }, 
        ]
      },

      options: options,
      
    });
    document.querySelector(".spinner").remove();
  }
  main();
</script>
