html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  overflow: hidden;
  background-color: black;
  color: #dddddd;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh; // Fallback for lvh
  height: 100lvh;
  width: 100vw;
}

body {
  height: 100%;
  padding-top: 1px;
}

a {
  color: white;
}
